* {
    box-sizing: border-box;
}

main {
    display: flex;
    gap:5px;
    height: 100vh;
    flex-direction: column;
}

.one {
    order: 4;
    margin-left:300px;
}

.two {
    order: 2;
    margin-left:100px;

}

.three {
    order: 2;
    margin-left:200px;
}


div {
    border:3px solid red;
    padding:5px;
    width: 100px;
    height: 100px;
}