* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
    " . header . "
    " . main . "
    " . footer ."
    ;

}

header {
    grid-area: header;
    border: 3px solid rgb(255, 47, 0);
    height: 40px;
    padding: 5px;
    }

main {
    grid-area: main;
    border: 3px solid rgb(255, 47, 0);
    height: 500px;
    padding: 5px;
}

footer {
    grid-area: footer;
    border: 3px solid rgb(255, 47, 0);
    height: 40px;
    padding: 5px;
}